* {
  --light: #eeffcb;
  --light-alt: #deff97;
  --dark: #84b321;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: var(--light);
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.hamburger__box {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  position: relative;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: var(--light);
  position: absolute;
  left: 0;
}

.hamburger__inner {
  top: 50%;
}

.hamburger__inner::before {
  content: "";
  top: -10px;
}

.hamburger__inner::after {
  content: "";
  top: 10px;
}

@keyframes animateMiddle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.hamburger--active .hamburger__inner {
  animation: animateMiddle 0.2s 0.2s ease-in-out both;
}

@keyframes animateTop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.hamburger--active .hamburger__inner:before {
  animation: animateTop 0.2s 0.2s ease-in-out both;
}

@keyframes animateBottom {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(0deg);
  }
  100% {
    transform: translateY(-10px) rotate(-90deg);
  }
}

.hamburger--active .hamburger__inner:after {
  animation: animateBottom 0.2s 0.2s ease-in-out both;
}

.menu {
  background-color: var(--dark);
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.2s 0.2s ease-in-out;
  width: 100%;
}

.menu--active {
  transform: translateY(0);
}

.menu__list {
  list-style: none;
}

.menu__item {
  border-top: 1px solid var(--light);
  padding: 1.5rem;
}

.menu__link {
  color: var(--light);
  font-size: 1.5rem;
  text-decoration: none;
}

.logo__img {
  height: 2rem;
  margin: 10px;
}

.hero__img {
  width: 100%;
}

.main__title--unvisible {
  display: none;
}

.article {
  color: var(--dark);
  background-color: var(--light);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article--alt-bg {
  background-color: var(--light-alt);
}

.article__title {
  margin-top: 2rem;
}

.article__text {
  line-height: 1.5;
  margin: 2rem;
  max-width: 600px;
  text-align: justify;
}

.article__text--center {
  text-align: center;
}

.article__text--left {
  text-align: left;
}

.article__paragraph {
  margin-bottom: 2rem;
}

.article__paragraph--underlined {
  text-decoration: underline;
}

.article__photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__photo {
  margin: 1rem;
  width: 15rem;
}

.article__img {
  width: 100%;
}

.article__figcaption {
  text-align: center;
}

.article__map {
  margin-top: 2rem;
  text-align: center;
}

.article__map-inner {
  height: 210px;
  width: 280px;
}

.article__sublist-item {
  margin: 0 0 0 1rem;
}

.footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 2rem;
  text-align: center;
}
